.venv/
src/__pycache__
data.txt
data/*
test/__pycache__
runs/
.vimspector.json
tools/__pycache__
src/tools/__pycache__
src/tools/__pycache__
src/optim/__pycache__
src/pendulum/__pycache__
src/losses/__pycache__
